<div class="container-fluid app-container p-4 h-100">
  <div class="card h-100 shadow">
    <div class="card-body h-100">
      <div class="questions-wrapper h-100">
        <form name="questionsForm" class="questions-contents" ng-submit="$ctrl.scanAnswers()">
          <div class="questions">
            <ul class="list-unstyled">
              <li class="question" ng-repeat="question in $ctrl.data.questions track by $index">
                <div class="card" ng-class="{'border-danger': $ctrl.state.validation.answers[$index]}">
                  <div class="card-body">
                    <h5 class="card-title">{{question.title}}</h5>
                    <div class="form-group">
                      <select class="form-control w-50" ng-options="option.key as option.label for option in question.options"
                              ng-model="$ctrl.answers[$index]">
                        <option value="" disabled>Choose an answer</option>
                      </select>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <div class="questions-actions p-2">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-secondary" ng-click="$ctrl.resetForm()">
              Clear Values
            </button>

            <div class="d-inline-flex text-danger">
              {{$ctrl.state.validation.globalMessage}}
            </div>
          </div>
        </form>

        <div class="result">
          <canvas ng-if="$ctrl.state.showResult" class="chart chart-bar" chart-data="$ctrl.chart.data"
                  chart-labels="$ctrl.chart.labels" chart-series="$ctrl.chart.series"
                  chart-options=$ctrl.chart.options></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
